@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.work-grid {
  padding: 0 $padding-mobile em(96);
}

.work-grid__inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: em(32);
  max-width: em(760);
  margin-left: auto;
  margin-right: auto;
}

@include mq($desktop) {
  .work-grid {
    padding-top: em(64);
    padding-bottom: em(144);
  }

  .work-grid__inner {
    grid-template-columns: repeat(2, 1fr);
    max-width: $page-width;
    column-gap: em(32);
    row-gap: em(48);
  }
}