@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

body {
  background-color: $white;
  color: $black;
}

body.is-dark {
  background-color: $black;
  color: $white;
}
a {
  color: inherit;
  text-decoration: none;
}

ul {
  @include flatten;
  list-style: none;
}