@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

body {
  background-color: $white;
  color: $black;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  @include flatten;
  list-style: none;
}